@import '../../style/var.scss';

.user-signup-passcode {
    width: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    align-items: center;
    // min-height: 80vh;
    @include set-vw(padding-top, 80px);

    .password-input-wrapper {
        width: -webkit-fill-available;
        display: flex;
        align-items: center;
        background-color: $GR-1;
        @include set-pair-vw(padding, 15px, 18px);
        @include set-vw(gap, 10px);
        @include set-vw(border-radius, 10px);

        .password-input {
            flex-grow: 1;
        }

        .password-input-icon {
            @include set-vw(width, 20px);
            @include set-vw(height, 20px);
        }
    }

    .passcode-check-wrapper {
        width: -webkit-fill-available;
        @include set-vw(min-height, 30px);
        @include set-vw(padding-left, 22px);
        @include set-vw(margin-bottom, 80px);

        .passcode-check-elem {
            width: -webkit-fill-available;
            display: flex;
            @include set-vw(gap, 12px);

            &#unchecked { color: $GR-4; }
            &#checked {
                color: white;
                .passcode-check-marker {
                    border-color: $GN;
                    background-color: $GN;
                }
            }

            &#wrong {
                .passcode-check-marker {
                    border-color: $RE;
                    background-color: $RE;
                }
            }
        }

        .passcode-check-marker {
            border: 1px solid $GR-4;
            border-radius: 50%;
            transition: 0.3s;
            @include set-vw(width, 16px);
            @include set-vw(height, 16px);
        }
    }
}